#userContainer
  width: 150px
  float: left
  height: 300px
  padding: 10px
  background-color: #eee

  ul
    margin: 0
    padding: 0
    list-style: inside none
      
#chatContainer
  margin-left: 170px
  width: 500px
  height: 300px
  padding: 10px

  ul
    margin: 0
    padding: 0
    list-style: inside none

  #chats .user
    width: 120px
    display: inline-block

